.tz-view-geeka-girls{
    background-image: url('assets/background1.jpg');
    background-attachment: fixed;
    height: 89vh;
    margin-top: -5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tz-d-flex-geeka-girls{
    height: 80vh;
}
.tz-view-welcome-page{
    background-image: url('assets/background2.jpg');
    background-attachment: fixed;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tz-d-flex-welcome-page{
    height: 700px;
}
