<div class="view intro tz-view-geeka-girls">
  <div class="full-bg-img mask rgba-white-light" >
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center tz-d-flex-geeka-girls">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">GEEKA
                <a class="indigo-text font-bold">GIRLS</a>
              </h2>
              <h2 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Madagascar</h2>
              <a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light"
                 mdbWavesEffect data-wow-delay="0.4s">Team
              </a>
              <a mdbBtn color="indigo" size="lg" class="wow fadeIn waves-light"
                 mdbWavesEffect data-wow-delay="0.4s">About Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-5">
      <h2 class="h1 font-bold light-blue-text my-5">{{title}}</h2>
      <p align="justify">{{introduction}}</p>
    </div>
  </div>
</div>
<div class="view intro tz-view-welcome-page">
  <div class="full-bg-img mask rgba-purple-slight">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center tz-d-flex-welcome-page">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-2 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">{{greeting}}</h2>
              <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-team></app-team>
<app-coach></app-coach>